.Signup
  %h1 
    %a{href: "/"}
      = image_tag("material/logo/logo.png",class: 'Signup__logo')
  %main
    .Signup__panel
      .Signup__panel__signup-form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .Signup-title
            会員情報入力
          .FormField
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label :nickname, "ニックネーム"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.text_field :nickname, autofocus: true, placeholder: "例) フリマ太郎", class: 'field-size'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label :email, "メールアドレス"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: 'field-size'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label :password, "パスワード"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: 'field-size'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label :password_confirmation, "パスワード(確認用)"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: 'field-size'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "お名前(全角)"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.text_field :family_name, placeholder: "例) 山田", class: 'field-size-parallel'
                = f.text_field :first_name, placeholder: "例) 彩", class: 'field-size-parallel'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "お名前カナ(全角)"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.text_field :family_name_furigana, placeholder: "例) ヤマダ", class: 'field-size-parallel'
                = f.text_field :first_name_furigana, placeholder: "例) アヤ", class: 'field-size-parallel'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "生年月日"
                .Field__field-group__mandatory
                  必須
              .Field__input
                != sprintf(f.date_select(:birth_day, with_css_classes:'XXXXX', prompt:"--", use_month_numbers: true, start_year: (Time.now.year - 0), end_year: 1900, date_separator:'%s'),'年','月')+'日'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "送付先氏名(全角)"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.text_field :family_name, placeholder: "例) 山田", class: 'field-size-parallel'
                = f.text_field :first_name, placeholder: "例) 彩", class: 'field-size-parallel'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "送付先氏名カナ(全角)"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.text_field :family_name_furigana, placeholder: "例) ヤマダ", class: 'field-size-parallel'
                = f.text_field :first_name_furigana, placeholder: "例) アヤ", class: 'field-size-parallel'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "郵便番号"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.text_field :post_code, placeholder: "例) 0000000", class: 'field-size'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "都道府県"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class: ""}
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "市区町村"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.text_field :city_name, placeholder: "例) 新宿区西新宿", class: 'field-size'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "番地"
                .Field__field-group__mandatory
                  必須
              .Field__input
                = f.text_field :city_address, placeholder: "例) 0丁目0-0", class: 'field-size'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "建物名・部屋番号"
              .Field__input
                = f.text_field :building, placeholder: "例) ◯○マンション000号室", class: 'field-size'
            .Field
              .Field__field-group
                .Field__field-group__label
                  = f.label "お届け先電話番号"
              .Field__input
                = f.text_field :phone_number, placeholder: "例) 000-0000-0000", class: 'field-size'
            .actions
              = f.submit "アカウントを作成", class: 'submit-btn-size'
    .PurchaseFooter
      .Terms
        %ul.Terms__contents
          %li.Terms__contents__content
            %a(href="#") プライバシーポリシー
          %li.Terms__contents__content
            %a(href="#") フリマ利用規約
          %li.Terms__contents__content
            %a(href="#") 特定商取引に関する表記
      .Logo
        .Title
          = link_to image_tag("material/logo/logo.png", class: "Title__image"),root_path
        .Text
          ©︎ FURIMA