.user__side
  .user__side__menu
    = link_to "トップページ", root_path, class: "link"
  .user__side__menu
    = link_to "マイページ", root_path, class: "link"
  .user__side__menu
    = link_to "お気に入り商品一覧", root_path, class: "link"
  .user__side__menu
    = link_to "出品する", new_item_path, data: {"turbolinks" => false} , class: "link"
  .user__side__menu
    = link_to "出品中の商品一覧", root_path, class: "link"
  .user__side__menu
    = link_to "売却済の商品一覧", root_path, class: "link"
  .user__side__menu
    = link_to "コメントがついた商品一覧", root_path, class: "link"
  .user__side__subtitle 各種設定
  .user__side__menu
    = link_to "会員情報の編集", root_path, class: "link"
  .user__side__menu
    = link_to "お届先住所の編集", root_path, class: "link"
  .user__side__menu
    = link_to "お支払い情報の登録/確認/削除", root_path, data: {"turbolinks" => false}, class: "link"
  .user__side__menu
    = link_to "ログアウト", root_path, method: :delete, class: "link"