.Header
  = render "layouts/header"
%nav.BreadCrumbs
  %ul
    %li
      = link_to "FURIMA", "#"
    %li
      %i.fa.fa-angle-right
    %li
      =link_to "ベビー・キッズ", "#"
    %li
      %i.fa.fa-angle-right
    %li
      =link_to "ベビー服(男の子用)  ~95cm"
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "アウター","#"
    %li
      %i.fa.fa-angle-right
    %li
      %p Tシャツ
.ProductMain
  .ShowMain
    .Content
      .ItemBox
        .ItemBox__name
          = @item.name
        .ItemBox__images
          %ul
            %li
              = image_tag @item.item_images.first.url.url, alt: "image1"
              %ul
                - @item_images.each do |item_image|
                  %li
                    = image_tag item_image.url.url, size: "75×75", alt: "image"
        .ItemBox__price
          %span 
            ¥
            = @item.price.to_s(:delimited) 
            -# to_s(:delimited)が価格にカンマをいれる記述
          .ItemBox__price__detail
            %span (税込)
            %span
              = @item.shipping_charge.name
        .ItemBox__description
          = @item.explanation
        .ItemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td 
                  = @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  = link_to "#{@item.category.name}", "#"
              %tr
                %th ブランド
                %td
                  = @item.brand
              %tr
                %th 商品のサイズ
                %td
                  = @item.size.name
              %tr
                %th 商品の状態
                %td 
                  = @item.state.name
              %tr
                %th 配送料の負担
                %td 
                  = @item.shipping_charge.name
              %tr
                %th 発送元の地域
                %td
                  = link_to "#{@item.prefecture.name}", "#"
              %tr
                %th 発送日の目安
                %td
                  = @item.shipping_date.name
        .ItemBox__option
          %ul
            %li.ItemBox__option__likeBtn
              = link_to "#" do
                %i.fa.fa-star
                お気に入り 0
          %ul.optional
            %li.ItemBox__option__optionalBtn
              = link_to "#" do
                %i.fa.fa-flag
                不適切な商品の通報
        
        - if user_signed_in?  && current_user.id != @item.user_id
          .Box
            = link_to purchase_items_url(@item.id), method: :get do
              .PurchaseButton
                = icon('fa', 'shopping-cart')
                この商品を購入する
        - if user_signed_in?  && current_user.id == @item.user_id
          .Box
            = link_to edit_item_path(@item.id), method: :get do
              .EditButton
                = icon('fa', 'edit')
                この商品を編集する
          .Box
            = link_to item_path, method: :delete do
              .DeleteButton
                = icon('fa', 'trash')
                この商品を削除する
      .CommentBox
        %textarea.CommentBox__body
        .CommentBox__msg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button.CommentBox__btn(name="button" type="submit")
          %i.fa.fa-comment
          コメントする
      %ul.MoreLink
        %li.MoreLink__left
          = link_to "#" do
            %i.fa.fa-angle-left
            %span 前の商品
        %li.MoreLink__right
          = link_to "#" do
            %span 後ろの商品
            %i.fa.fa-angle-right
      .MoreItems
        = link_to "#{@item.category.name}をもっと見る","#"
        .MoreItems__lists
          .MoreItems__lists__list
            = link_to "/products/3" do
              %figure.MoreItems__lists__list--img
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
              .MoreItems__lists__list__productBody
                %h3.MoreItems__lists__list__productBody__name
                  product3
                .MoreItems__lists__list__productBody__details
                  %ul
                    %li 30000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
      
.Aside
  = render "layouts/aside"
.Footer
  = render "layouts/footer"
.Purchasebtn
  = render "layouts/purchasebtn"